.home-banner {
	img {
		width: 100%;
	}

	position: relative;

	.event-name {
		position: absolute;
		text-align: center;
		transform: translateX(50%);
		right: 50%;
		bottom: 23%;
		white-space: nowrap;
		margin-bottom: 65px;

		h1 {
			font-size: 32px;
			font-weight: 900;
			color: white;
			text-shadow: 0px 3px 0 #115a6b, 0px 6px 3px #b2ff00;
			line-height: 1;
		}

		time {
			font-size: 20px;
			font-weight: 700;
		}

		@media (min-width: 576px) {
			right: 50%;
			bottom: 23%;
			margin-bottom: 90px;

			h1 {
				font-size: 36px;
			}

			time {
				font-size: 21px;
			}
		}

		@media (min-width: 680px) {
			margin-bottom: 100px;

			h1 {
				font-size: 37px;
			}

			time {
				font-size: 22px;
			}
		}

		@media (min-width: 768px) {
			margin-bottom: 110px;

			h1 {
				font-size: 38px;
			}

			time {
				font-size: 24px;
			}
		}

		@media (min-width: 850px) {
			margin-bottom: 120px;

			h1 {
				font-size: 39px;
			}
		}

		@media (min-width: 1025px) {
			right: 12%;
			bottom: 18%;
			margin-bottom: 300px;

			h1 {
				font-size: 32px;
			}
		}

		@media (min-width: 1200px) {
			right: 10%;
			margin-bottom: 370px;

			h1 {
				font-size: 40px;
			}
		}
	}

	.time {
		position: absolute;
		right: 50%;
		bottom: 24%;
		transform: translateX(50%);
		display: flex;

		.count {
			width: 55px;
			height: 55px;
			background-image: url("../img/banner_icon.png");
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			color: #004c5f;
			text-transform: uppercase;
			margin: 0 2px;

			span:nth-child(2) {
				font-size: 13px;
				font-weight: 400;
			}

			span:nth-child(1) {
				font-size: 20px;
				line-height: 1;
				font-weight: 900;
				letter-spacing: -0.5px;
			}

			@media (min-width: 576px) {
				width: 70px;
				height: 70px;

				span:nth-child(1) {
					font-size: 20px;
				}
			}

			@media (min-width: 680px) {
				width: 80px;
				height: 80px;

				span:nth-child(1) {
					font-size: 22px;
				}
			}

			@media (min-width: 768px) {
				width: 90px;
				height: 90px;

				span:nth-child(1) {
					font-size: 24px;
				}
			}

			@media (min-width: 850px) {
				width: 100px;
				height: 100px;

				span:nth-child(1) {
					font-size: 38px;
				}
			}
		}

		@media (min-width: 1025px) {
			flex-wrap: wrap;
			width: 80px;
			right: 12.5%;
			bottom: 18%;

			.count {
				width: 80px;
				height: 80px;
				margin: 0 0;
				margin-bottom: 10px;
			}
		}

		@media (min-width: 1200px) {
			width: 100px;
			right: 10%;
			bottom: 18%;

			.count {
				width: 100px;
				height: 100px;
				margin-bottom: 15px;
			}

		}
	}

	.desktop {
		@media (max-width: 1024.98px) {
			display: none;
		}
	}

	.mobile {
		@media (min-width: 1025px) {
			display: none;
		}
	}
}

.home-introduce {
	overflow: hidden;

	.img {
		img {
			width: 100%;
		}
	}

	.item {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.content {
		height: 100%;
		background: #08444e;
		text-align: center;
		padding: 40px 15px 120px 15px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			width: 60px;
			height: 60px;
			border-width: 3px;
			border-style: solid;
			border-radius: 50%;
			left: 50%;
			transform: translateX(-50%);
			top: -24px;
			z-index: 2;
			box-shadow: inset 0 0 0 10px white;
			border-color: #72b40a;
			background-color: #72b40a;

		}

		h3 {
			font-weight: 600;
			color: #72b40a;
			font-size: 30px;
			margin-bottom: 1.5rem;
			text-transform: uppercase;

			@media (max-width: 767.98px) {
				font-size: 25px;
			}
		}

		p {
			font-size: 24px;
			color: white;
		}

		time {
			font-size: 30px;
			font-weight: 600;
			margin-bottom: 40px;
			display: block;

			@media (max-width: 1024.98px) {
				margin-bottom: 10px;
			}
		}
	}

	.home-2-slide:nth-child(1) {
		.content {
			&:before {

				border-color: #26f49c;
				background-color: #26f49c;
			}

			time {
				color: #26f49c;
			}
		}
	}

	.home-2-slide:nth-child(2) {
		.content {
			&:before {

				border-color: #26e2bc;
				background-color: #26e2bc;
			}

			time {
				color: #26e2bc;
			}
		}
	}

	.home-2-slide:nth-child(3) {
		.content {
			&:before {

				border-color: #26d3d8;
				background-color: #26d3d8;
			}

			time {
				color: #26d3d8;
			}
		}
	}

	@media (min-width: 1025px) {
		.home-2-container {
			.item {
				.content {
					display: none;
				}
			}
		}

		.desktop-content {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				width: 100%;
				left: 0;
				height: 12px;
				background-image: linear-gradient(-90deg, rgb(0, 180, 255) 0%, rgb(0, 255, 120) 100%);
				z-index: 1;
			}
		}
	}

	@media (max-width: 1024.98px) {
		.desktop-content {
			display: none;
		}

		.home-2-container {
			.content {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					width: 100%;
					left: 0;
					height: 12px;
					background: rgb(0, 255, 120);
					background: linear-gradient(90deg, rgba(0, 255, 120, 1) 0%, rgba(0, 180, 255, 1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff78", endColorstr="#00b4ff", GradientType=1);
					z-index: 1;
				}
			}
		}
	}

	.home-2-dots {
		position: absolute;
		bottom: 80px;
		left: 50%;
		transform: translateX(-50%);
		width: auto;
		z-index: 2;

		.swiper-pagination-bullet {
			width: 14px;
			height: 14px;
			background: white;
			border-radius: 50%;
			opacity: 1;

			&.swiper-pagination-bullet-active {
				background: #00ff78;
			}
		}
	}
}

.home-video-gallery {
	background-image: url("../img/video_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 40px;
	padding-bottom: 215px;
	padding-right: 80px;
	padding-left: 80px;

	.swiper-container {
		padding: 120px 10px;
	}

	.swiper-slide {
		transition: all .5s cubic-bezier(.2, .5, .5, .8);
		opacity: 1;
		position: relative;

		.img {
			background-color: black;
			border: 8px solid #999999;
			box-shadow: -8px -8px 0 0 #01fffe, 8px 8px 0 0 #b2ff00;
			width: 100%;
			height: 100%;

			@media (max-width: 1024.98px) {
				box-shadow: -4px -4px 0 0 #01fffe, 4px 4px 0 0 #b2ff00;
			}

			img {
				opacity: .6;
			}
		}

		.button-video {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 65px;
			height: 65px;
			display: none;

			@media (max-width: 1024.98px) {
				width: 50px;
				height: 50px;
			}

			@media (max-width: 767.98px) {
				width: 35px;
				height: 35px;
			}
		}
	}

	.swiper-slide-active {
		z-index: 2;
		.button-video {
			display: block;
			transform: translate(-50%, -50%);
		}

		@media (max-width: 575.98px) {
			transform: scale(1.25);
			z-index: 2;
		}

		@media (min-width: 1025px) {
			transform: scale(1.5);

			.button-video {
				transform: scale(.75) translate(-50%, -50%);
			}
		}
	}

	.swiper-nav {

		.prev,
		.next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 3;
			cursor: pointer;

			@media (max-width: 1024.98px) {
				width: 30px;
			}

			@media (max-width: 767.98px) {
				width: 15px;
			}
		}

		.prev {
			left: 55px;

			@media (max-width: 1024.98px) {
				left: 30px;
			}

			@media (max-width: 767.98px) {
				left: -25px;
			}
		}

		.next {
			right: 55px;

			@media (max-width: 1024.98px) {
				right: 30px;
			}

			@media (max-width: 767.98px) {
				right: -25px;
			}
		}
	}

	@media (max-width: 1024.98px) {
		padding-right: 40px;
		padding-left: 40px;
		padding-top: 130px;
		padding-bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		.swiper-container {
			margin: 0 0;
			padding: 80px 0;
			width: 100%;
		}

		.title {
			margin-bottom: 0;
		}
	}

	@media (max-width: 575.98px) {
		overflow: hidden;

		.swiper-container {
			width: 100%;
			overflow: visible;
			// margin: 0 -40px;
			padding: 80px 30px;
		}
	}
}

.home-game {
	padding-top: 40px;
	background-image: url("../img/game_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 80px;

	@media (max-width: 1024.98px) {
		background-image: url("../img/m_game_bg.jpg");
		padding-top: 130px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.title {
		margin-bottom: 0;
	}

	.item {
		padding-top: 70px;

		.img {
			text-align: center;
			margin-bottom: 100px;

			@media (max-width: 767.98px) {
				padding: 0 20px;
				margin-bottom: 50px;
			}
		}

		.content {
			text-align: center;

			h3 {
				font-size: 35px;
				text-shadow: 2px -4px 0 #115a6b, -1px 4px 0 #b2ff00;
				color: white;
				text-transform: uppercase;

				@media (max-width: 767.98px) {
					font-size: 23px;
				}
			}

		}
	}

	.col-lg-6:nth-child(2) {
		.item {
			.content {
				h3 {
					text-shadow: 2px -4px 0 #6ed8ca, -1px 4px 0 #b2ff00;
				}
			}
		}
	}
}