#home-1.home.home-banner
	img.desktop(src="./img/banner.jpg", alt="")
	img.mobile(src="./img/m_banner.jpg", alt="")
	.event-name
		h1 Acer Day 2019
		time 24-08-2019
	.time
		.count
			span#days 0 
			span  Ngày
		.count
			span#hours 0 
			span  Giờ
		.count
			span#minutes 0 
			span  Phút
	.intel-logo-bottom
		a(href="#")
			img(src="./img/intel_family.png", alt="")

#home-2.home.home-introduce
	.mobile-content.home-2-container
		.home-2-dots
		.row.no-gutters.home-2-wrapper
			.col-lg-4.home-2-slide
				.item
					.img
						img(src="./img/i_1.jpg", alt="")
					.content
						time 2017
						h3 Be Cool, Every Day 
						p Lấy cảm hứng từ công nghệ tản nhiệt vượt trội, Acer Day 2017 mang lại những khoảng khắc thật "cool" dành cho Khách hàng.
			.col-lg-4.home-2-slide
				.item
					.img
						img(src="./img/i_2.jpg", alt="")
					.content
						time 2018
						h3 Play Music Toghether
						p Sáng tạo -  giải trí không giới hạn là thông điệp và nguồn cảm hứng Acer Day 2018 mang đến. Thật nhiều bản nhạc đầy cảm xúc đã được tạo nên. 
			.col-lg-4.home-2-slide
				.item
					.img
						img(src="./img/i_3.jpg", alt="")
					.content
						time 2019
						h3 Levelup - Next level of yourself.
						p Cổ vũ tinh thần không ngừng bước tiến, Acer Day 2019 sẽ mang lại điều bất ngờ gì? Cùng chờ đợi nhé!
	.row.no-gutters.desktop-content
		.col-lg-4.home-2-slide
			.item
				.content
					time 2017
					h3 Be Cool, Every Day 
					p Lấy cảm hứng từ công nghệ tản nhiệt vượt trội, Acer Day 2017 mang lại những khoảng khắc thật "cool" dành cho Khách hàng.
		.col-lg-4.home-2-slide
			.item
				.content
					time 2018
					h3 Play Music Toghether
					p Sáng tạo -  giải trí không giới hạn là thông điệp và nguồn cảm hứng Acer Day 2018 mang đến. Thật nhiều bản nhạc đầy cảm xúc đã được tạo nên. 
		.col-lg-4.home-2-slide
			.item
				.content
					time 2019
					h3 Levelup - Next level of yourself.
					p Cổ vũ tinh thần không ngừng bước tiến, Acer Day 2019 sẽ mang lại điều bất ngờ gì? Cùng chờ đợi nhé!
	//- .intel-logo-bottom
	//- 	a(href="#")
	//- 		img(src="./img/intel_family.png", alt="")

#home-3.home.home-video-gallery
	.title.video
		h2 Video Gallery
	.swiper-container
		.swiper-nav
			.prev
				img(src="./img/arrow_prev.png", alt="")
			.next
				img(src="./img/arrow_next.png", alt="")
		.swiper-wrapper
			.swiper-slide
				.img
					img.ofc(src="./img/video_1.jpg", alt="")
				.button-video
					a(href="https://www.youtube.com/watch?v=L0NZW6pgSLc" data-fancybox)
						img(src="./img/video_button.png", alt="")
						
			.swiper-slide
				.img
					img.ofc(src="./img/video_1.jpg", alt="")
				.button-video
					a(href="https://www.youtube.com/watch?v=L0NZW6pgSLc" data-fancybox)
						img(src="./img/video_button.png", alt="")
						
			.swiper-slide
				.img
					img.ofc(src="./img/video_1.jpg", alt="")
				.button-video
					a(href="https://www.youtube.com/watch?v=L0NZW6pgSLc" data-fancybox)
						img(src="./img/video_button.png", alt="")
	//- .intel-logo-bottom
	//- 	a(href="#")
	//- 		img(src="./img/intel_family.png", alt="")

#home-4.home.home-game
	.title.game
		h2 Vọc game vui cùng Acer Day
	.container-fluid
		.row
			.col-6
				.item
					.img
						img(src="./img/game_1.png", alt="")
					.content
						h3 Coming Soon
			.col-6
				.item
					.img
						img(src="./img/game_2.png", alt="")
					.content
						h3 Coming Soon
	//- .intel-logo-bottom
	//- 	a(href="#")
	//- 		img(src="./img/intel_family.png", alt="")