header
	.header-wrapper
		.mobile-logo
			a(href="#").acer
				img(src="./img/acer_logo.png", alt="")
			a(href="#").intel
				img(src="./img/intel_logo.png", alt="")
		#mobile-toggle
			img.open(src="./img/bar.png")
			img.close(src="./img/close.png")
		ul#header-menu
			li
				a(data-href="#home-1") Trang chủ
			li.active
				a(data-href="#home-2") Giới thiệu
			li
				a(data-href="#home-3") Video
			li
				a(href="best-friend.html") Game