html,
body {
	font-family: "Acer Foco", sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.title {
	h2 {
		color: red;
		text-transform: uppercase;
		text-shadow: 2px -4px 0 #115a6b, -1px 4px 0 #b2ff00;
		font-weight: 700;
		color: white;
		font-size: 43px;

		@media (max-width: 1024.98px) {
			font-size: 24px;
		}
	}

	&.video {
		width: 415px;
		height: 120px;
		margin: 0 auto;
		background-image: url("../img/bg_title_video.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 50px;

		@media (max-width: 1024.98px) {
			width: 240px;
			height: 70px;
		}
	}

	&.game {
		width: 875px;
		height: 95px;
		margin: 0 auto;
		background-image: url("../img/bg_title_game.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 50px;

		@media (max-width: 1024.98px) {
			background-image: url("../img/bg_title_video.png");
			width: 240px;
			height: 76px;
			padding: 0 30px;
			text-align: center;
			h2{
				font-size: 22px;
			}
		}
	}
}




#loading {
	position: fixed;
	z-index: 99999;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	right: 0;
	background: #ffffff;
	transition: 1s 0.4s;
}

#progress {
	height: 1px;
	background: black;
	position: absolute;
	width: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: 1s;
	display: none;
}

.progstat-wrapper {
	color: black;
	font-size: 14px;
	letter-spacing: 3px;
	font-weight: 300;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 0;
	width: 100%;
	text-align: center;
}

.logo-loader {
	width: 100px;
	height: 100px;
	// background: url('../img/loading.svg');
	// background-position: center;
	// background-repeat: no-repeat;
	// background-size: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	transform: translate(-50%, -50%);
}